@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark: #594f4f;
  --light-dark: #547980;
  --medium: #45ada8;
  --medium-light: #63d37d;
  --ligh: #e5fcc2;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to top, var(--light-dark), var(--dark));
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: "Rajdhani", sans-serif;
}

.container {
  background-color: var(--light-dark);
  width: 700px;
  min-height: 630px;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: relative;
  filter: blur(1rem);
}

.top {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 3rem;
  width: 100%;
}

.progress-container::before {
  content: "";
  background-color: #e0e0e0;
  position: absolute;
  top: 40%;
  left: 0;
  transition: translateY(-50%);
  height: 1vh;
  width: 100%;
  z-index: 0;
}

.circle:nth-child(2) {
  transform: translateX(-2px);
}

.circle:nth-child(6) {
  transform: translateX(2px);
}

.progress {
  background-color: var(--medium);
  position: absolute;
  top: 40%;
  left: 0;
  transition: translateY(-50%);
  height: 1vh;
  width: 0%;
  z-index: 0;
  transition: 0.5s ease;
}

.circle {
  font-size: 2.5rem;
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  border: 1vh solid #e0e0e0;
  transition: 0.5s ease;
  z-index: 1;
}

.circle.active {
  border-color: var(--medium);
}

.time {
  width: 8rem;
  height: 6rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  background-color: var(--ligh);
}

.bottom {
  padding: 2rem;
  font-size: 8rem;
  color: #fff;
  text-align: center;
}

.question {
  background-color: var(--medium);
  padding: 2rem;
  border-radius: 3rem;
  margin: 2rem;
  font-size: 3.2rem;
  letter-spacing: 1px;
  text-align: center;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
}

.answer {
  display: flex;
  justify-content: space-around;
}

.answer button,
.again,
.start {
  font-family: inherit;
  background-color: var(--ligh);
  padding: 1.5rem;
  border-radius: 2rem;
  margin: 1.5rem;
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.2s;
  font-weight: 700;
  min-width: 20rem;
  outline: none;
  border: none;
  z-index: 2;
  animation: moveIn 0.2s ease-out;
}

.start {
  animation: moveInUp 0.5s ease-out;
}

.answer button:hover,
.again:hover,
.start:hover {
  transform: translateY(2px);
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
}

.again {
  display: none;
}

.container i {
  position: absolute;
  font-size: 12rem;
  opacity: 0.1;
  color: var(--dark);
}

.container i:first-child {
  top: 2rem;
  left: 8rem;
  transform: rotate(-30deg);
}

.container i:nth-child(2) {
  top: 15rem;
  right: 5rem;
  transform: rotate(-50deg);
}

.container i:nth-child(3) {
  bottom: 0.8rem;
  left: 0.8rem;
  transform: rotate(-25deg);
}

.title {
  width: 670px;
  height: 600px;
  background-color: var(--light-dark);
  position: absolute;
  z-index: 3;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  border: 3px solid rgba(0, 0, 0, 0.4);
  text-align: center;
}

.title h3 {
  font-size: 6rem;
  margin: 0;
  text-shadow: 2px 2px 4px var(--dark);
  animation: moveInDown 0.5s ease-out;
}

.title p {
  background-color: var(--medium);
  padding: 2rem;
  border-radius: 3rem;
  margin: 2rem;
  font-size: 2.5rem;
  letter-spacing: 1px;
  line-height: 1.4;
  text-align: center;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
  animation: moveIn 0.5s ease-out;
}

.title i {
  position: absolute;
  right: 4rem;
  bottom: 4rem;
  font-size: 12rem;
  opacity: 0.1;
}

.score {
  font-size: 3rem;
  margin-bottom: 1.4rem;
}

/*MEDIA QUERY*/

@media (max-width: 680px) {
  html {
    font-size: 58%;
  }
  .container i:nth-child(2) {
    top: 20rem;
  }
  .container i:nth-child(3) {
    bottom: 3rem;
    left: 3rem;
  }
  .container {
    width: 100%;
    height: 100%;
  }
  .title {
    width: 90%;
    height: 90%;
  }
  .top {
    padding-bottom: 0;
  }
  .bottom {
    margin-top: -8rem;
  }
  .again {
    margin-top: -8rem;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 50%;
  }
  .title {
    width: 100%;
    height: 100%;
    border: none;
  }
  .answer {
    flex-direction: column;
  }
  .container i:first-child {
    top: 1rem;
    left: 6.5rem;
    transform: rotate(-30deg);
  }

  .container i:nth-child(2) {
    top: 20rem;
    right: 5rem;
  }
  .container i:nth-child(3) {
    bottom: 2.8rem;
    left: 2.8rem;
  }
  .bottom {
    padding: 0rem;
  }
  .score {
    text-align: center;
  }
  .top {
    margin-top: -6rem;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 45%;
  }
}

.counttime {
  animation: redDown 16s ease;
}

/*KEYFRAMES*/

@keyframes redDown {
  0% {
    background-color: var(--medium-light);
  }
  60% {
    background-color: var(--ligh);
  }
  100% {
    background-color: #e16036;
  }
}

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(8rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-8rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
